<h1>日報一覧</h1>
<p>
  <ul>
    <% @users.each do |user| %>
    <li>
      <%= link_to user.name, "/users/#{user.id}" %>
      <span><%= user.posts_count %>日目</span>
    </li>
    <% end %>
  </ul>
</p>
