// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$white: #ffffff;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$red: #e3342f;
$orange: #f6993f;
$secondary-orange: #ffb45f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #010202;
$cyan: #6cb2eb;

$header: #3ecdc6;
$primary-main: #1876d1;
$secondary-main: #b180ff;
$sub-header: #707070;
$hover-main: rgba(62, 205, 198, 0.8);
$hover-white: rgba(240, 240, 240, 0.8);
$back-color: #f4f4f4;
$border-color: rgba(0, 0, 0, 0.12);
$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
